<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A directory of direct links to update your account's passwords.">
    <meta name="author" content="Dries De Peuter">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Change my password</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="script.js"></script>
</head>

<body ng-controller="SiteListCtrl">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Update my password</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control" ng-model="query">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1 class="hide">Update my password</h1>
        <p>A directory of direct links to update your account's passwords.</p>
    </div>
</div>

<div class="container">
    <ul class="row list-unstyled">
        <li class="col-md-3 col-sm-4 col-xs-6" ng-repeat="site in sites | filter:query | orderBy:name">
            <h4>{{site.name}}</h4>
            <p><a class="btn btn-default btn-xs" href="{{site.url}}">Change password &raquo;</a></p>
        </li>
    </ul>
</div>


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>What is this</h2>
                <p>As the title states, this list will help you find the correct links to update your password.</p>
            </div>
            <div class="col-md-6">
                <h2>Missing a link</h2>
                <p>This is an open source project. Find <a href="https://github.com/updatemypassword/updatemypassword.github.io">the project on GitHub</a> and add the link to the code. If you are not a developer,
                    <a href="https://github.com/updatemypassword/updatemypassword.github.io/issues">create an issue</a>.</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <footer class="row">
        <div class="col-md-6"><p>&copy; Dries De Peuter 2013</p></div>
        <div class="col-md-6">
            <iframe width="85px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=updatemypassword&repo=updatemypassword.github.io&type=watch&count=true"></iframe>
            <iframe width="95px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=updatemypassword&repo=updatemypassword.github.io&type=fork&count=true"></iframe>
        </div>
    </footer>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43698014-1', 'updatemypassword.github.io');
    ga('send', 'pageview');

</script>

</body>
</html>
